$fgColorNormal: #ffffff;
$bgColor1     : #444448;
$bgColor2     : #272727;
//$bgColor2     : #222426;
$bgColor3     : #222;
$shadowColor  : rgba(#000, 0.26);

$smallScreenMaxWidth: 720px;

$headerHeight: 64px;

$contentSpacing: 64px / 2;