html, body {
    margin: 0;
    width: 100%;
}

* {
    box-sizing:border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* Advanced Checkbox Hack */
body { -webkit-animation: bugfix infinite 1s; }
@-webkit-keyframes bugfix { from {padding:0;} to {padding:0;} }


a {
    text-decoration: none;
    cursor: pointer;
}

a, a:visited, a:active {
    color: $fgColorNormal;
}