{{define "index"}}
{{template "header"}}
<a href="/playsByHour">/playsByHour</a></br>
<a href="/playsByHour/hashworks">/playsByHour/hashworks</a></br>
<a href="/playsByHour/valentin">/playsByHour/valentin</a></br>
<a href="/playsByHour/nilsrauso">/playsByHour/nilsrauso</a></br>
<a href="/playsByHour/SimonTank">/playsByHour/SimonTank</a></br>
<a href="/playsByHour/Sascha1986!">/playsByHour/Sascha1986!</a></br>
<a href="/playsByHour/andy/Andy2704">/playsByHour/andy/Andy2704</a></br>
<a href="/playsByMonth">/playsByMonth</a></br>
<a href="/playsByMonth/hashworks">/playsByMonth/hashworks</a></br>
<a href="/playsByMonth/valentin">/playsByMonth/valentin</a></br>
<a href="/playsByMonth/nilsrauso">/playsByMonth/nilsrauso</a></br>
<a href="/playsByMonth/SimonTank">/playsByMonth/SimonTank</a></br>
<a href="/playsByMonth/Sascha1986!">/playsByMonth/Sascha1986!</a></br>
<a href="/playsByMonth/andy/Andy2704">/playsByMonth/andy/Andy2704</a></br>
{{template "footer"}}
{{end}}